<!DOCTYPE html>
<html>

<head>
    <title>FormValidation</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">

    <!-- Vue JS -->
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


</head>

<body>
    <div id="app" class="m-2">
        <!-- Add/Modify code below -->
        <div class="form-group">
            <label for="user">Username</label>
            <input type="text" class="form-control" id="user" v-model="user"
                placeholder="Enter Name">
        </div>
        <div class="form-group">
            <label for="pwd1">Password</label>
            <input type="password" class="form-control" id="pwd1" v-model="pwd1"
                placeholder="Password">
        </div>
        <div class="form-group">
            <label for="pwd2">Confirm Password</label>
            <input type="password" class="form-control" id="pwd2" v-model="pwd2"
                placeholder="Confirm Password">
        </div>
        <button @click='validate' class="btn btn-primary">Submit</button>

        <div class="alert alert-warning" v-if="show">{{error}}</div>
    </div>

    <script>
        // Add/Modify code below
        new Vue({
            el: '#app',
            data: {
                users: [{ "user": "Jack", "pwd": "abc" }, { "user": "Mary", "pwd": "def" },
                { "user": "John", "pwd": "123" }, { "user": "Cherry", "pwd": "456" }
                ]
            }
        })
    </script>

</body>

</html>